
<div class="d-flex">
    <button [ngClass]="'btn '+(mode=='inbox'?'btn-primary':'btn-alert')" (click)="getMailMessages('inbox')">Inbox</button>
    <button [ngClass]="'btn '+(mode=='outbox'?'btn-primary':'btn-alert')" (click)="getMailMessages('outbox')">Outbox</button>
</div>
<div style="height: 20px;"></div>
<table *ngIf="messages.length"  datatable class="hover table">
    <thead>
        <tr>
            <th>Message</th>
            <th>From</th>
            <th>To</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let message of messages">
            <td>{{message.content}}</td>
            <td>{{message.recieverId}}</td>
            <td>{{message.senderId}}</td>
            <td>{{message.dateCreated | date}}</td>
        </tr>
    </tbody>
</table>