<h5 style="text-align: center;">{{recieverEmail}}</h5>
<div class="d-flex justify-content-center">
    <div style="width: 100%;">
        <div class="chatbox" >
            <div *ngFor="let chatMessage of chatMessages"  [ngClass]="(chatMessage.recieverId!=recieverId)?'partner-message':'my-message'">
                <div [ngClass]="(chatMessage.recieverId!=recieverId)?'my-partner-box':'my-chat-box'">
                    {{chatMessage.content}}
                </div>
            </div>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="submitMessage()">
            <div class="p-3 d-flex justify-content-center">
                <input style="max-width: 400px;" formControlName="content" class="form-control" placeholder="Text">
                <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>

</div>