<div class="d-flex justify-content-center">
    <div style="width: 100%;">
        <div class="chatbox" style="height: 100%;">
            <div class="partner-message">
                <div class="my-partner-box">
                    Name Danie kjdjsfksjfskjfskfjskjfsksfjk
                </div>
            </div>

            <div class="my-message">
                <div class="my-chat-box">
                    Name Danie kjdjsfksjfskjfskfjskjfsksfjk
                </div>
            </div>

        </div>
        <form [formGroup]="formGroup" (ngSubmit)="submitMessage()">
            <div class="p-3 d-flex justify-content-center">
                <input style="max-width: 400px;" formControlName="content" class="form-control" placeholder="Text">
                <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>

</div>